= labelled_form_for message, :url => messages_path, :remote => true do |f|
  %h4= t('message.title')

  = f.text_field :name, :label_text => t('message.name'), :append_to_label => message.errors.on(:name)
  = f.text_field :email, :label_text => t('message.email'), :append_to_label => message.errors.on(:email)
  = f.text_field :phone, :label_text => t('message.phone'), :append_to_label => message.errors.on(:phone)
  = f.text_area :content, :label_text => t('message.content'), :append_to_label => message.errors.on(:content)
  = f.submit "", :id => 'send_message'
  %span.flash= flash[:sent]
