= content_for :side_content do
  = render :partial => 'menu'


= render :layout => 'layouts/content' do
  = render :layout => 'pictures/gallery' do
    = render :partial =>  'pictures/picture', :collection => @publications



