%h4= form.object.new_record? ? "Ajouter une photographie" : "Modifier la photographie"

= form.select :top, [["OUI",true], ["Non",false]], :label_text => "A l'affiche"

- if form.object.image?
  .form_line
    %label Image actuelle
    = image_tag form.object.image.url(:small)

= form.file_field :image

.buttons
  - if form.object.new_record?
    = link_to "Annuler", admin_category_pictures_path(@category), :remote => true
  - else
    = link_to "Annuler", admin_category_picture_path(@category,@picture), :remote => true
  = form.submit

