%li.ui-state-default.sortable_item[picture]
  %span.ui-icon-arrowthick-2-n-s
  %span.actions
    = link_to "Editer", edit_admin_category_picture_path(category,picture), :remote => true
    = link_to "Supprimer", admin_category_picture_path(category,picture), :method => :delete, :remote => true, :class => "delete_picture delete"

  %span.number= "#" + picture.number.to_s
  = image_tag picture.image.url(:admin), :class=> 'head_image'
  = image_tag 'circle-check.png', :class => 'top', :title => "A l'affiche" if picture.top
  = picture.title if picture.title?
