= labelled_form_for [:admin, @content], :remote => true do |form|

  = form.error_messages :header_tag => "h4", :header_message => "", :header_message => nil

  %h4= "Modifier #{form.object.label}"

  .form_line
    %label Image actuelle
    = image_tag form.object.image.url(:small) 

  = form.file_field :image
  
  = form.text_area :html, :id => "html_#{(Time.now.to_f*100).to_i}", :label_text => "Texte (en)", :style => "width:510px;height:400px"

  = form.text_area :html_fr, :id => "html_fr_#{(Time.now.to_f*100).to_i}", :label_text => "Texte (fr)", :style => "width:510px;height:400px"

  .buttons
    = link_to "Annuler", edit_admin_content_path(@content), :remote => true
    = form.submit

