%div#contact

  %div#agency

    %p
      Alvaro CANOVAS is represented by
    %p
      = @agency.full_name.upcase
    %p
      = @agency.address
    %p
      = @agency.phone_number
    %p
      = @agency.phone_number
    %p
      = mail_to @agency.email, @agency.email, :target => "_blank", :class=>"email_address"

    = form_tag do
      %h4 SEND A MESSAGE
      .line
        %label name
        = text_field_tag :name
      .line
        %label email
        = text_field_tag :email
      .line
        %label phone
        = text_field_tag :phone
      .line
        %label message
        = text_area_tag :message

  %div#owner
    %p
      = @owner.first_name
      = @owner.last_name.upcase
    %p
      = @owner.city Paris
    %p
      = @owner.country
    %p
      = @owner.phone_number
    %p
      Commissions, print sales and general enquiries
    %p
      = mail_to @owner.email, @owner.email, :target => '_blank', :class=>"email_address"
