= form.error_messages :header_tag => "h4", :header_message => "", :header_message => nil

= hidden_field_tag :type, form.object.type

= form.hidden_field :type

= form.select :active, [["Active", true], ["Inactive", false]]

= form.text_field :title

= form.file_field :image

- if form.object.is_a?(Client)
  = form.text_field :link
- else
  = form.text_area :description, :id => "description_#{(Time.now.to_f*100).to_i}", :label_text => "Texte (en)", :style => "width:510px;height:200px"
  = form.text_area :description_fr, :id => "description_fr_#{(Time.now.to_f*100).to_i}", :label_text => "Texte (fr)", :style => "width:510px;height:200px"
