%div{ :id => "category_#{@category.id}_menu", :class=> "#{@category.class.name.downcase} menu "}

  - if not @category.type == 'Client'
    = link_to image_tag(@category.image.url(:large)), "#{@category.link}", :target => '_blank', :title => "Cliquer ici pour accéder au site web de #{@category.title}"
  - else
    %h3= @category.title
    %ul
      %li#galleria_caption= raw "&nbsp;"
      %li#galleria_controls
      %li#galleria_fullscreen
      %li= link_to t("overview"), category_path(:id => @category), :remote => true
    .line

