= labelled_form_for([:admin,@user], :remote => true) do |f|

  %h3= @user.new_record? ? "Créer un nouvel utilisateur" : "Modifier l'utilisateur"
   
  = f.text_field :first_name
  = f.text_field :last_name
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.text_field :email
  = f.text_field :phone_number
  = f.text_field :address
  = f.text_field :zip_code
  = f.text_field :city  
  = f.text_field :country


  = link_to "Annuler", @user.new_record? ? admin_users_path : admin_user_path(@user), :class => "cancel", :remote => true
  = f.submit "OK"


