#users_wrapper
  = link_to 'Nouvel utilisateur', new_admin_user_path, :remote => true
  .users
    - @users.each do |user|
      %div[user]
        .header
          %span.links
            = link_to 'Edit', edit_admin_user_path(user), :class => "edit_user", :remote => true
            = link_to 'Destroy', [:admin,user], :confirm => 'Are you sure?', :method => :delete, :remote => true
          %span.name= user.full_name
        .content
          = render :partial => user