%div[user]

  .line
    %label Prénom
    %span= user.first_name
  .line
    %label Nom
    %span= user.last_name
  .line
    %label Email
    %span= user.email
  .line
    %label Téléphone
    %span= user.phone_number
  .line
    %label Adresse
    %span= user.address
  .line
    %label Code postal
    %span= user.zip_code
  .line
    %label Ville
    %span= user.city
  .line
    %label Pays
    %span= user.country

