= labelled_form_for [:admin, @video], :html => {:multipart => true}, :remote => true do |form|

  %h4= form.object.new_record? ? "Ajouter une video" : "Modifier la video"

  = form.text_field :title

  = form.text_area :description


  = form.file_field :source

  .buttons
    - if form.object.new_record?
      = link_to "Annuler", admin_videos_path, :remote => true
    - else
      = link_to "Annuler", admin_video_path(@video), :remote => true
    = form.submit

