#tabs
  %ul
    %li= link_to "Editorial", '#tab-0'
    %li= link_to "Advertizing", admin_categories_path(:type => "Client"), :remote => true
    %li= link_to "Publications", admin_publications_path
    %li= link_to "Multimedia", admin_videos_path, :remote => true
    %li= link_to Content::BIO.label, edit_admin_content_path(Content::BIO), :id =>"content_#{Content::BIO.id}_label"
    %li= link_to Content::CURRENT_WORK.label, edit_admin_content_path(Content::CURRENT_WORK), :id =>"content_#{Content::CURRENT_WORK.id}_label"
    %li= link_to "Utilisateurs", admin_users_path
    
  #tab-0
    = yield
