#tabs
  %ul
    %li= link_to t('menu.editorial'), '#tab-0'
    %li= link_to t('menu.top_pictures'), admin_top_list_pictures_path, :remote => true
    %li= link_to t('menu.advertizing'), admin_categories_path(:type => "Client"), :remote => true
    %li= link_to t("menu.publications"), admin_publications_path
    %li= link_to t("menu.multimedia"), admin_videos_path, :remote => true
    %li= link_to t('menu.current_work'), edit_admin_content_path(Content::CURRENT_WORK), :id =>"content_#{Content::CURRENT_WORK.id}_label"
    %li= link_to t('menu.bio'), edit_admin_content_path(Content::BIO), :id =>"content_#{Content::BIO.id}_label"
    %li= link_to t('menu.users'), admin_users_path
    
  #tab-0
    = yield
