!!! HTML5
%html

  %head
    %title Alvarocanovas
    = favicon_link_tag('/favicon.png', :type => "image/png")
    = stylesheet_link_tag 'compiled/application.css', :cache => 'application_all', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'ipad', :media => 'handheld, only screen and (max-device-width: 1024px)'

    = javascript_include_tag :defaults, 'lib/google_analytics', :galleria, 'website'

    = csrf_meta_tag

    -#%script{:type=>"text/javascript"}
    -#  var _gaq = _gaq || [];
    -#  _gaq.push(['_setAccount', 'UA-19258619-1']);
    -#  _gaq.push(['_trackPageview']);
    -#
    -#  (function() {
    -#    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    -#    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    -#    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    -#  })();



    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="description" content="Alvaro Canovas photography - After the September 11, 2001 terrorist attacks, Alvaro Canovas chose to focus on international news.  He began working on conflicts in Africa, and spent the majority of his time covering events in the near and middle East. His goal has always been to give news events a human dimension, providing readers with informative photographs of people intricately involved in the changing face of History.")
    %meta(name="keywords" content="photography paris match photo photographie reportage coverage irak guerre war")
    %meta(name="robots" content="index,follow")

    %meta(property="og:title" content="Alvaro Canovas Photography")
    %meta(property="og:type" content="author")
    %meta(property="og:url" content="http://www.alvarocanovas.com")
    %meta(property="og:image" content="http://alvarocanovas.com/images/facebook_img.jpg")
    %meta(property="og:site_name" content="Alvaro Canovas Photography")
    %meta(property="fb:admins" content="100001007075905")
    %meta(property="og:description" content="Alvaro Canovas photography - After the September 11, 2001 terrorist attacks, Alvaro Canovas chose to focus on international news.  He began working on conflicts in Africa, and spent the majority of his time covering events in the near and middle East. His goal has always been to give news events a human dimension, providing readers with informative photographs of people intricately involved in the changing face of History.")
  %body
    #page
      %h1
        = link_to root_url, :class=>'link_to_root' do
          Alvaro Canovas
          %span= yield(:title).blank? ? "Photography" : yield(:title)

      #menu
        %h2
          %span Menu

        %ul#main_menu_list

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.editorial'), categories_path, :remote => true, :class => "first_level_link") } do
            - Category.active.where(:type=> nil).each do |category|
              %li
                = link_to category.title, category_path(:id =>category), :remote => true

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.advertizing'), categories_path, :remote => true, :class => "first_level_link" ) } do
            - Client.active.each do |client|
              %li
                = link_to client.title, category_pictures_path(:category_id =>client), :remote => true

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t("menu.publications"), publications_path, :remote => true, :class => "first_level_link") } do
            = ''

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t("menu.multimedia"), videos_path, :remote => true, :class => "first_level_link") } do
            = ''
          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.current_work'), content_path(:id =>Content::CURRENT_WORK), :remote => true, :class => "first_level_link")} do
            = ''

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.bio'), content_path(:id =>Content::BIO), :remote => true, :class => "first_level_link")} do
            = ''

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.contact'), contact_path, :remote => true, :class => "first_level_link" )} do
            = ''

      #content
        = yield

      #footer
        .version_change
          - if I18n.locale.to_s == 'fr'
            = link_to "english version", root_url(:locale => 'en')
          - else
            = link_to "version francaise", root_url(:locale => 'fr')

        .copyright= link_to raw("&copy; Copyrights"), contact_path, :remote=> true

        .social_icons
          = link_to "", "http://twitter.com/home?status=Currently reading #{request.url}", :target => '_blank', :class => 'twitter'
          = link_to "", "http://www.facebook.com/sharer.php?u=#{request.url}&t=", :target => '_blank', :class => 'facebook'
        -#= social_icons(:size => 20) do |icon|
        -#  = icon.twitter
        -#  = icon.facebook
        