!!! HTML5
%html

  %head
    %title Alvarocanovas
    = favicon_link_tag('/favicon.png', :type => "image/png")
    = stylesheet_link_tag 'compiled/application.css', :cache => 'application_all', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'ipad', :media => 'handheld, only screen and (max-device-width: 1024px)'

    = javascript_include_tag :defaults, 'gallery', 'website', :cache => 'application_all'
    = csrf_meta_tag


    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="description" content="Alvaro Canovas photography")
    %meta(name="keywords" content="photography paris match photo photographie reportage")
    %meta(name="robots" content="index,follow")

    %meta(property="og:title" content="Alvaro Canovas Photography")
    %meta(property="og:type" content="author")
    %meta(property="og:url" content="http://www.imdb.com/title/tt0117500/")
    %meta(property="og:image" content="http://ia.media-imdb.com/rock.jpg")
    %meta(property="og:site_name" content="Alvaro Canovas Photography")
    %meta(property="fb:admins" content="USER_ID")
    %meta(property="og:description" content="Site web présentant les travaux d'aAlvaro Canovas, grand reporter, ainsi que son actualité")
  %body
    #page
      %h1
        Alvaro Canovas
        = link_to (yield(:title).blank? ? "Photography" : yield(:title)), root_url, :remote => true, :class=>'link_to_root'

      #menu
        %h2
          %span Menu

        %ul#main_menu_list

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.editorial'), categories_path, :remote => true, :class => "first_level_link") } do
            - Category.where(:type=> nil).each do |category|
              %li
                = link_to category.title, category_path(:id =>category), :remote => true

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.advertizing'), categories_path, :remote => true, :class => "first_level_link" ) } do
            - Client.all.each do |client|
              %li
                = link_to client.title, category_pictures_path(:category_id =>client), :remote => true

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t("menu.publications"), publications_path, :remote => true, :class => "first_level_link") } do
            = ''

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t("menu.multimedia"), videos_path, :remote => true, :class => "first_level_link") } do
            = ''
          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.current_work'), content_path(:id =>Content::CURRENT_WORK), :remote => true, :class => "first_level_link")} do
            = ''

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.bio'), content_path(:id =>Content::BIO), :remote => true, :class => "first_level_link")} do
            = ''

          = render :layout => 'layouts/menu_link', :locals => { :link =>  link_to(t('menu.contact'), contact_path, :remote => true, :class => "first_level_link" )} do
            = ''

      #content
        = yield

      #footer
        .version_change
          - if I18n.locale.to_s == 'fr'
            = link_to "english version", root_url(:locale => 'en')
          - else
            = link_to "version francaise", root_url(:locale => 'fr')

        = social_icons(:size => 20) do |icon|
          = icon.twitter
          = icon.facebook
        