!!!

%html

  %head
    %title Alvarocanovas
    = stylesheet_link_tag  'compiled/admin'
    = csrf_meta_tag
  %body

    #page

      #header
        %h1
          Alvaro Canovas
          %span Admin


      #flash
        .notice= notice
        .alert= alert

      #page_content
        = yield